<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-game-control (gameStarted)="onNumberEmitted($event)"></app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <app-odd
        *ngFor="let oddNumber of oddNumbers"
        [oddNumber]=oddNumber
      ></app-odd>
    </div>
  </div>
  <div class="row">
      <div class="col-md-4">
        <app-even
          *ngFor="let evenNumber of evenNumbers"
          [evenNumber]=evenNumber
        ></app-even>
      </div>
    </div>
</div>